<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="Database" value="mysql"/>-->
    <add key="Database" value="sqlserver"/>
  </appSettings>
  <connectionStrings>
    <add name="DataService" connectionString="Server=.;Database=Dev;Uid=sa;Pwd=123456" />
    <!--<add name="DataService" connectionString="Database=test;Data Source=LACRIMASYNOLOGY;User Id=root;Password=root;CharSet=utf8;port=3306" />-->
  </connectionStrings>
</configuration>